################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleEFExample/.vs
/SimpleEFExample/SimpleEFExample/bin
/SimpleEFExample/SimpleEFExample/obj/Debug
/SimpleEFExample/Northwind.Database/obj/Debug
